* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  background-color: #F8F7F4;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: block;
}
